/* --- POKEDEX PAGE --- */
.pokedex {
  width: 100vw;
  min-width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.pokedex__dark {
  width: 100vw;
  min-width: inherit;
  background-color: rgb(53, 52, 52);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: white;
}
.back__btn {
  width: 100vw;
  position: fixed;
  top: 5.5em;
  left: 0.5em;
}
.btnBack {
  border: none;
  font-size: 3em;
  background-color: transparent;
  cursor: pointer;
  color: lightgray;
}

/* -- header -- */
.pokedex__header {
  position: fixed;
  width: 100vw;
  min-width: 420px;
  height: 5em;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  z-index: 1;
}
.pokedex__img {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
}
.pokedex__header--uno {
  width: 100vw;
  min-width: inherit;
  height: 2.5em;
  background-color: var(--primary-color);
}
.pokedex__header--dos {
  width: 100vw;
  min-width: inherit;
  height: 2.5em;
  background-color: black;
}
.pokedex__header--img {
  position: absolute;
  width: 4em;
  right: 2em;
}
.pokedex__header--tres {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -1em;
  right: 2em;
  width: 4em;
  height: 4em;
  background-color: white;
  border: 5px solid black;
  border-radius: 50%;
}
.pokedex__header--tres-1 {
  width: 2em;
  height: 2em;

  background-color: rgb(39, 38, 38);
  border: 5px solid black;
  border-radius: 50%;
}

/* -- input search */
.pokedex__inputSearch {
  width: 30em;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  gap: 2em;
}
.pokedex__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokedex__inputSearch--p {
  font-size: var(--medium-font);
  color: var(--primary-color);
  font-weight: bold;
}
.pokedex__inputSearch--p2 {
  font-size: var(--normal-font);
}
.pokedex__search {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.pokedex__search--form input,
.pokedex__search--form button{
  height: 3em;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.41);
}
.pokedex__search--form input {
  width: 15em;
}
.pokedex__search--form button {
  width: 5em;
  background-color: var(--primary-color);
  color: var(--body-color);
  cursor: pointer;
}
.pokedex__search--form button:hover {
  background-color: hsla(354, 89%, 48%, 0.66);
}
.selected {
  display: flex;
  align-items: center;
  height: 3em;
}
.select {
  width: 12em;
  height: 3em;
  border: none;
  font-size: var(--small-font);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.41);
  cursor: pointer;
}
.select option {
  height: 10em;
}

.darkMode {
  margin-top: 5em;
  width: 100vw;
  display: flex;
  justify-content: end;
}
.l {
  display: block;
  margin-bottom: 1.5em;
  font-size: 1em;
}

.l {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.l:before, .l:after {
  content: "";
  display: block;
}

.l:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}

.l:after {
  background: linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
  box-sizing: border-box;
}
/* Checked */
.l:checked {
  background-color: rgba(0,0,0,0.45);
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}

.l:checked:before {
  background-color: currentColor;
  transform: translateX(125%)
}

.l:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
  outline: 0;
}

/* -- cards -- */
.pokedex__cards {
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 0;
  padding-top: 0;
}

.pokedex_perPage {
  display: flex;
  width: 35em;
  min-width: 300px;
  align-items: center;
  justify-content: center;
}
.pokedex_perPage--title {
  width: 67%;
}
@media (max-width: 600px) {
  .pokedex_perPage--title {
    width: 35%;
  }
}
.pokedex_perPage--form {
  display: flex;
}
.pokedex_perPage--input {
  width: 2.5em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.468);
  margin-left: 0.5em;
}
.pokedex_perPage--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.421);
  background-color: hsl(354, 100%, 50%);
  cursor: pointer;
  color: #fff;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
.pokedex_perPage--btn:hover {
  background-color: hsla(354, 89%, 48%, 0.66);
}
@media (max-width: 768px) {
  .pokedex__inputSearch {
    width: 23em;
    margin-left: 1em;
  }
  .pokedex,
  .pokedex__dark {
    display: flex;
    align-items: start;
    gap: 2em;
  }
  .pokedex__search {
    width: 17em;
  }
  .pokedex_perPage {
    display: flex;
    flex-direction: column;
  }
}
/* -- Media Querys */
@media (max-width: 600px) {
  .pokedex__search {
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-right: 5em;
  }
  .pokedex__text {
    width: 300px;
  }
  .pokedex_perPage {
    margin-right: 5em;
  }
}
@media (max-width: 360px) {
  .pokedex__dark {
    width: 120%;
    margin-left: 0;
    padding-left: 0;
  }
}